.whatido{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
}


.whatido__row{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0px 150px; */
}

.whatido__card{
    min-width: 500px;
    min-height: 50px;
    max-width: 800px;
    margin: 15px 30px;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.whatido__card__icon>svg{
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--background1);
    color: var(--main-color);
    padding: 20px;
}

.whatido__card__text{
    margin: 10px;
}

@media only screen and (max-width: 768px){
    .whatido__card{
        min-width: 150px;
        max-width: 750px;
        flex-direction: column;
    }
}