.portfolio{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
}

.portfolio__appsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.portfolio__app{
    min-width: 150px;
    min-height: 150px;
    max-width: 400px;
    border: 1px solid var(--white-line);
    margin: 0px 30px 15px 30px;
    padding: 20px 15px;
    align-self: stretch; /** align item to others in the list**/
}

.portfolio__app > h3, h4, p{
    margin: 10px 0px;
}

.portfolio__app > h4{
    color: var(--main-color);
}

.portfolio__app > img{
    max-width: 90%;
    width: 90%;
    /* center image */
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.portfolio__app > a{
    text-decoration: none;
    color: var(--main-color)!important;
}

.portfolio__app > a:hover{
    color: var(--main-color)!important;
}



@media only screen and (max-width: 768px){
    .portfolio__appsList{
        flex-direction: column;
    }
    
    .portfolio__app{
        min-width: 200px;
        max-width: 768px;
    }
}