.resume{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
}

.resume__list{
    margin: 0px 30px 0px 30px;
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resume__list__column{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}




@media only screen and (max-width: 768px){
    .resume__list{
        flex-direction: column;
    }

}