.experience__card{
    min-width: 150px;
    min-height: 150px;
    max-width: 600px;
    border: 1px solid var(--white-line);
    margin-bottom: 15px;
    padding: 20px 15px;
}

.experience__card > h3, h4, p{
    margin: 10px 0px;
}

.experience__card > h4{
    color: var(--main-color);
}


.dates{
    border-radius: 5px !important;
    color: var(--text-color) !important;
    background-color: var(--chip) !important;
    font-weight: bold !important;
}

.skills{
    border-radius: 20px !important;
    color: var(--text-color) !important;
    background-color: var(--main-color) !important;
    font-weight: bold !important;
    margin-right: 10px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 768px){
    .experience__card{
        min-width: 200px;
        max-width: 768px;
    }
}