.sidebar{
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    align-items: center;
    height: 100%;
    
}

.MuiAvatar-root{
    margin-top: 50px;
    width: 180px !important;
    height: 180px !important;
}

.sidebar__name{
    margin: 10px 0px;
    font-size: 20pt;
    font-weight: 700;
}

.sidebar__links{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
}

.sidebar__links > a{
    text-decoration: none;
    color: var(--text-color);
    margin: 8px;
    /* display: flex; */
}

.sidebar__links > a:hover{
    color: var(--main-color)!important;
}

/* active link color */
.active{
    color: var(--main-color)!important;
}

.sidebar__social{
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar__social > a{
    text-decoration: none;
    color: var(--text-color);
    margin: 8px;
}

.sidebar__social > a:hover{
    color: var(--main-color)!important;
}


/* responsive stuff */
@media only screen and (max-width: 768px){
    .sidebar{
        flex-direction: row;
        height: auto;
        min-height: 50px;
        min-width: 140px;
    }
    .MuiAvatar-root{
        display: none !important;
    }

    .sidebar__name{
        margin: 0px 15px;
    }
    
    .sidebar__links{
        flex-direction: row;
        margin: 20px 20px;
        flex-wrap: wrap;
    }

    .sidebar__social{
        display: none !important;
        /* flex-wrap: wrap; */
    }

}