:root {
  --main-color: #007bff;
  --sidebar: #111418;
  --background1 : #343A40;
  --background2 : #212529;
  --chip : #DC3545;
  
  --text-color: #ffffff;

  --white-line : rgba(250, 250, 250, 0.3);
  
  background-color: var(--background2)
}

*{
  margin: 0;
}

.app{
  width: 100%;
  height: 100%;

  background-color: var(--background2);
  display: flex;
  flex-direction: row;
  color: var(--text-color);
}

.app__sidebar{
  background-color: var(--sidebar);
  min-width: 250px;
  position: fixed;
}

.app_content{
  margin-left: 250px;
  color: var(--text-color);
  background-color: inherit;
  width: inherit;
}


.__title{
  text-align: center;
  font-size: 25pt;
  margin: 40px 0px;
  font-weight: bold;
  border-bottom: 3px solid var(--main-color);
}

.__subtitle{
  text-align: left;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
  .app{
    flex-direction: column;
  }

  .app__sidebar{
    min-width: 100%;
  }

  .app_content{
    margin-left: 0px;
    margin-top: 150px;
  }

  .__title{
    margin: 40px 0px;
    font-size: 20pt;
  }

}