.aboutme{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    font-size: 12pt;
}

.aboutme__name{
    text-align: center;
    font-size: 25pt;
    margin: 120px 0px 60px 0px;
    font-weight: bold;
}
.aboutme__name > span{
    font-size: 40pt;
    color: var(--main-color);
}


/* info */

.aboutme__info{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

/* .abouteme__info_desc{
    flex: .6;
} */

.aboutme__info__ul{
    /*flex: .28;*/
	flex: 1;
    font-size: 14pt;
}

.aboutme__info__ul > ul{
    list-style-type: none;
}

.aboutme__info__ul > ul >li:not(:last-child){
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white-line);
}

.aboutme__info__ul > ul >li >span {
    font-weight: 700;
}

.aboutme__download{
    margin-top: 60px;
}
.aboutme__download > a {
    text-decoration: none;
}

.MuiButton-root{
    background-color: var(--main-color) !important;
    border-radius: 25px !important;
    color: var(--text-color) !important;
    padding: 15px 30px !important;
    font-weight: bold !important;
}


/* responsive stuff */
@media only screen and (max-width: 768px){

    .aboutme__name{
        margin: 40px 0px 20px 0px;
        font-size: 20pt;
    }
    .aboutme__name > span{
        font-size: 30pt;
    }

    .aboutme__info{
        flex-direction: column;
    }

    .aboutme__info__ul{
        margin-top: 20px;
        align-self: flex-start;
        font-size: 14pt;
        width: 100%;
        padding-inline-start: 0px;
    }

    .aboutme__info__ul > ul{
        padding-inline-start: 0px;
    }

}
